<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.natura.caderninho">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".CaderninhoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Natura.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>