<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.natura.sellingcartlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".SellingCartLibraryApplication">

        <activity
            android:name=".SellingCartLibraryActivity"
            android:label="Library"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>
</manifest>